<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbConnectionString" value="Server=localhost;Database=wfs;User Id=wfs;Password=wfs"/>
  </appSettings>
  <system.web>
    <compilation defaultLanguage="c#" debug="false"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" cookieless="false"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
</configuration>
